* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  /* background-image: url("https://images.unsplash.com/photo-1606990972809-f6dff5d17367?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"); */
}

#main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-items: auto;
    /* padding: 10px; */
    font-size: 20px;
    /* background-image: url("https://images.unsplash.com/photo-1603726629907-ba4600c520be?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80"); */
    background-image: url("https://images.unsplash.com/photo-1606990972809-f6dff5d17367?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

section div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  justify-items: center;
}

.title {
  padding-top : 6.5em;
}

img {
  width : 25%;
}
a {
  text-decoration: none;
  color: white;
}

p {
  font-family: 'Courier New', Courier, monospace;
}

#name {
  font-size: 1.5em;
  font-weight: 800;
  color : white;
  margin : 10px auto;
}

#description {
  font-size: 1em;
  font-weight: 600;
  color: white;
  margin : 0px auto;
}

div#logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

div#logos i {
  margin-top: 1em;
}

i {
  margin : 0.4em 0.75em;
  transition: all 0.5s;
}

i.fa-linkedin {
  color : #0072b1;
}

i.fa-envelope {
  color : #BB001B;
}

i:hover {
  /* color: brown; */
  transform: scale(1.5);
}

div button {
  font-size: 20px;
  width: 9em;
  border-radius: 10px;
  height: 3em;
  background: none;
  color : white;
  border : 2px solid white;
  margin : 3em 0 10em 0;
  transition: background-color 1s cubic-bezier(0.34, 1.56, 0.64, 1), border-radius 1s cubic-bezier(0.34, 1.56, 0.64, 1);
}

button:hover {
  color : black;
  background-color: white;
  /* border-radius: 20px; */
  transform: translateY(-10px);
}


@media (max-width : 960px) {
  p#description {
    padding : 0 20%;
  }
}

.footer {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.7em;
  font-weight: 200;
  color: white;
  /* padding-top: 10em; */
}

p#class {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.8em;
  margin-top : 0;
}